<form asp-action="AjouterProjet" asp-controller="Home" methode="POST">
	<div class="form-group">
		<label for="nom">Nom du projet</label>
		<input type="text" class="form-control" id="nom" name="nom" placeholder="Nom du projet">
		<input type="submit" class="btn btn-primary" value="Ajouter le projet" />
	</div>
</form>
