<form asp-controller="Home" asp-action="ajouterListe" method="post">
	<div class="form-group">
		<label for="nomListe">Nom de la liste</label>
		<input type="text" class="form-control" name="Nom" id="Nom" placeholder="Nom de la liste">
		<input type="submit" class="btn btn-primary" value="Ajouter la liste" />
	</div>
</form>
